/*---------------- colours */

.navigation-bar-colour {
    background-color: #E3B9BC;
    color: #505050;
}

.business-background {
    background-color: #AA9ABA
}

a {
    color: #505050
}

/*---------------- header */

.nav {
    float: right;
    display: inline;
}

.nav-link:hover {
    color: #000
}


/*---------------- home page content */

.business-background {
    padding: 120px;
    padding: 120px;
    text-align: center;
    border-radius: 10px;
}

.aerial-images {
    margin-top: 120px;
 
   margin-bottom: 120px;
}
.aerial-images .image1 {
    background:url("../images/image1.jpg");
    }
}